In [10]:
import pandas as pd

In [11]:
import numpy as np

In [12]:
import statistics

In [13]:
product_a_sales= [235, 189, 340, 270, 305, 210, 320, 265, 315, 280, 250, 200]

product_b_sales= [320, 190, 340, 270, 310, 260, 315, 290, 320, 275, 230, 320]

product_c_sales= [270, 290, 280, 240, 260, 210, 200, 340, 295, 280, 260, 310]

In [6]:
product_a_sales

[235, 189, 340, 270, 305, 210, 320, 265, 315, 280, 250, 200]

In [7]:
product_b_sales

[320, 190, 340, 270, 310, 260, 315, 290, 320, 275, 230, 320]

In [14]:
product_c_sales

[270, 290, 280, 240, 260, 210, 200, 340, 295, 280, 260, 310]

In [15]:
data=pd.DataFrame({'product_a_sales':[235, 189, 340, 270, 305, 210, 320, 265, 315, 280, 250, 200],

'product_b_sales': [320, 190, 340, 270, 310, 260, 315, 290, 320, 275, 230, 320],

'product_c_sales':[270, 290, 280, 240, 260, 210, 200, 340, 295, 280, 260, 310] })

In [16]:
data

    product_a_sales  product_b_sales  product_c_sales
0               235              320              270
1               189              190              290
2               340              340              280
3               270              270              240
4               305              310              260
5               210              260              210
6               320              315              200
7               265              290              340
8               315              320              295
9               280              275              280
10              250              230              260
11              200              320              310

In [17]:
#Calculate the total sales during the period covered by the dataset:
total_sale=data[['product_a_sales','product_b_sales','product_c_sales']].sum()
total_sale

product_a_sales    3179
product_b_sales    3440
product_c_sales    3235
dtype: int64

In [41]:
# all product total sale
total_sale1=data[['product_a_sales','product_b_sales','product_c_sales']].sum().sum()
total_sale1
print(f"Total sale is : {total_sale1}")

Total sale is : 9854

In [63]:
#Find the average daily sales during this period: 
daily_sale=data[['product_a_sales','product_b_sales','product_c_sales']].sum(axis=1)
daily_sale
daily_average=daily_sale.mean()
daily_average=round(daily_average,2)
print(f" Average daily sale is : {daily_average}")

 Average daily sale is : 821.17

In [43]:
#Identify the best-selling product (highest sales) and its corresponding sales value:
total_sale=data.sum()
total_sale
max_sale=total_sale.max()
max_sale
best_selling_product=total_sale.idxmax()
best_selling_product
print(f" best selling product is {best_selling_product} and total sale is {max_sale}")

 best selling product is product_b_sales and total sale is 3440

In [39]:
max_sale=data.max().max()
max_sale
data.max()
best=data.max().idxmax()
best

'product_a_sales'

In [51]:
#Determine the worst-selling product (lowest sales) and its corresponding sales value
total_sale
min_sale=total_sale.min()
min_sale
worst_selling_product=total_sale.idxmin()
worst_selling_product
print(f'worst-selling product is {worst_selling_product} and total sale is {min_sale}')

worst-selling product is product_a_sales and total sale is 3179

In [90]:
#Calculate the range of sales
product_a_range=np.ptp(product_a_sales)
product_b_range=np.ptp(product_b_sales)
product_c_range=np.ptp(product_c_sales)
print(f" product A range is : {product_a_range}")
print(f"product B range is : {product_b_range}")
print(f"product C range is : {product_c_range}")

 product A range is : 151
product B range is : 150
product C range is : 140

In [134]:
#Compute the standard deviation of sales: 
product_a_std=np.std(product_a_sales)
product_a_std=round(product_a_std,2)
product_b_std=np.std(product_b_sales)
product_b_std=round(product_b_std,2)
product_c_std=np.std(product_c_sales)
product_c_std=round(product_c_std,2)

In [97]:
print(f" product a standard deviation is:{product_a_std}")
print(f" product b standard deviation is :{product_b_std}")
print(f" product c standard deviation is : {product_c_std}")

 product a standard deviation is:47.57
 product b standard deviation is :42.05
 product c standard deviation is : 37.99

In [105]:
#mean
avg_producta=statistics.mean(product_a_sales)
avg_productb=statistics.mean(product_b_sales)
avg_productc=statistics.mean(product_c_sales)
print(avg_producta)
print(avg_productb)
print(avg_productc)

264.9166666666667
286.6666666666667
269.5833333333333

In [128]:
#Identify if the sales data is positively or negatively skewed
from statsmodels.stats.stattools import medcouple, robust_kurtosis
skewness=medcouple(product_a_sales)
skewness
print(f"product A sale skewness is {skewness} ,it is negative skewed")

product A sale skewness is -0.07034632034632035 ,it is negative skewed

In [129]:
skewness=medcouple(product_b_sales)
skewness
print(f"product B sale skewness is {skewness} ,it is negative skewed")

product B sale skewness is -0.3333333333333333 ,it is negative skewed

In [130]:
skewness=medcouple(product_c_sales)
skewness
print(f"product C sale skewness is {skewness} ,it is negative skewed")

product C sale skewness is -0.17207792207792205 ,it is negative skewed

In [131]:

product_a_sales=np.array(product_a_sales)

In [132]:
product_b_sales=np.array(product_b_sales)
product_c_sales=np.array(product_c_sales)

In [137]:
#Calculate the coefficient of variation:
product_a_coefficient=(product_a_std/avg_producta)*100
print(f"product A coefficient of variation is : {product_a_coefficient}")

product A coefficient of variation is : 17.956590122680087

In [139]:
product_b_coefficient=(product_b_std/avg_productb)*100
print(f"product B coefficient of variation is : {product_b_coefficient}")

product B coefficient of variation is : 14.66860465116279

In [140]:
product_c_coefficient=(product_c_std/avg_productc)*100
print(f"product C coefficient of variation is : {product_c_coefficient}")

product C coefficient of variation is : 14.092117465224113

In [144]:
#Determine the 25th percentile of sales: 
q1=np.percentile(product_a_sales,[25])
q1
print(f"product_a_sale 25th percentile of sale is: {q1}")

product_a_sale 25th percentile of sale is:[228.75]

In [145]:
q1=np.percentile(product_b_sales,[25])
q1
print(f"product_b_sale 25th percentile of sale is: {q1}")

product_b_sale 25th percentile of sale is: [267.5]

In [146]:
q1=np.percentile(product_c_sales,[25])
q1
print(f"product_c_sale 25th percentile of sale is: {q1}")

product_c_sale 25th percentile of sale is: [255.]

In [149]:
#Compute the interquartile range (IQR): 
#for product_a
q3,q1=np.percentile(product_a_sales,[75,25])
iqr=q3-q1
print(f"product a iqr is : {iqr}")

product a iqr is : 78.75

In [151]:
#for product_b
q3,q1=np.percentile(product_b_sales,[75,25])
iqr=q3-q1
print(f"product b iqr is : {iqr}")

product b iqr is : 52.5

In [152]:
#for product_c
q3,q1=np.percentile(product_c_sales,[75,25])
iqr=q3-q1
print(f"product c iqr is : {iqr}")

product c iqr is : 36.25